/* ==|== primary styles =====================================================
   ========================================================================== */

.primaryContent .main{
    max-width:none !important;  
    width:100%;
}

.miniRotatorContainer {
    position: relative;
    height: 285px;
    max-width: 320px;
    margin: 0 auto 0 auto;
    overflow:hidden;
}

.miniRotator{
    position:relative;
    height:285px;
}

.miniRotator .item{
    display:block;
    height:285px;
    width:320px;   
    position:relative;
    float:left;
    margin:0 4px 0 0;
    background-color:#830c28;
    background: -webkit-radial-gradient(circle, #99091e, #830c28);  
    background: -moz-radial-gradient(circle, #99091e, #830c28);  
    background: -ms-radial-gradient(circle, #99091e, #830c28);
    background: radial-gradient(circle, #99091e, #830c28);
}

.miniRotator .item .pointyCaption{
    margin:-3px 4px 0 0;
    padding:10px 25px 15px 25px;
    color:White;
    height:45px;
    font-family:Georgia;
    font-size:18px;
}

.miniRotator .item .pointyCaption .point{
    position:absolute;
    bottom:65px;
    left:0;
    background-image:url("../img/pointy.png");
    background-repeat:no-repeat;
    background-position:center top;
    width:100%;
    height:22px;
}

.miniRotator .item:hover .rollover{
    visibility:visible;
    top:0;
    transition: top 1s;
    -moz-transition: top 1s;
    -webkit-transition: top 1s;
    -o-transition: top 1s;
}

.miniRotator .item .rollover {
    visibility:hidden;
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    bottom: 0;
    padding:10px 25px 15px 25px;
    background-color: #830c28;
    background: -webkit-radial-gradient(circle, #99091e, #830c28);  
    background: -moz-radial-gradient(circle, #99091e, #830c28);  
    background: -ms-radial-gradient(circle, #99091e, #830c28);
    background: radial-gradient(circle, #99091e, #830c28);
    color: White;
    transition: top 1s;
    -moz-transition: top 1s;
    -webkit-transition: top 1s;
    -o-transition: top 1s;
}

.miniRotator .item a{
    color:White;   
}

.miniRotator .item .rollover .title{ 
    color:White;
    font-family:Georgia;
    font-size:18px;   
    margin:75px 0 0 0;
}

.miniRotator .item .rollover .copy{
    font-size:12px;    
    margin:10px 0 0 0;
    height:100px;
    line-height:1.5;
} 

.miniRotator .item .rollover .button{
    background-color:White;
    color:#830c28;
    float:left;
    padding:2px 10px 2px 10px;
    font-family:"Open Sans";
    font-weight:800;   
}

.miniRotatorNav{
    position:relative;   
    top:0;
    left:auto;
}

.miniRotatorNav a {
    position: absolute;
    height: 56px;
    width: 43px;
    color: White;
    top: -200px;
    cursor: pointer;
    background-image: url("../img/gray_arrows.png");
    background-repeat: no-repeat;
}

.miniRotatorNav a.disabled{
    opacity:.4;   
    filter: alpha(opacity=40)
}

.miniRotatorNav .prev{
    background-position:left center;
    left:0;
}

.miniRotatorNav .next{
    background-position:right center;
    right:0;
}

.primaryContent .main section h3{
    clear:both;
    color:#98002e;   
    font-family:"Open Sans";
    font-weight:normal;
    font-size:16px;
    padding:20px 0 7px 0;    
    margin:0;
    border-bottom:1px solid #a58f75;
}

.primaryContent .main .featureImage{
    float: left;
    margin: 10px 10px 10px 0;
    border: 3px solid white;
    -webkit-box-shadow: 0px 0px 7px #434343;
    -moz-box-shadow: 0px 0px 7px #434343;
    box-shadow: 0px 0px 7px #434343;
}

.primaryContent .main section .content{
    float:left;   
    max-width:60%;
}

.primaryContent .main section .content .linkList{
    padding:0;
    list-style-type:none;
}

.primaryContent .main section .content .linkList li{
    margin:0 0 5px 0;
}


/* ==|== media queries ====================================================== */


@media only screen and (min-width: 780px) {
    
    .miniRotatorContainer {
        max-width: 648px;    
    }        
        
}

@media only screen and (min-width: 1024px) {
    
    .miniRotatorContainer {
        max-width: 972px;    
        left: 22px;
        margin: -257px auto 0 auto;
    }
        
}

@media only screen and (min-width: 1085px) {
    
}