/* ==|== law custom header and footer styles ====================================================== */

.logo{
    background-image:url("../img/logo_law_alternate.png") !important;
    height:85px !important;
    margin:4px 0 0 0;
}

.collapsedNav {
    margin: 115px 0 0 0;
}

.mainNavLinks > li > a,
.footerLinks li a,
footer .address {
    background-color:#002f7c;
}

.mainNavLinks .mainNavLinksAfter, .mainNavLinks .mainNavLinksAfter:hover {
    background-color:#002f7c !important;
}

.footerLogo{
    padding:10px 0 0 10px;
    clear:both;
}

/*.ie8 .slideDescription,
.ie9 .slideDescription{
    display: none !important;    
}*/

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 780px) {    
    
    header{
        padding:0 0 15px 0;
    }
    
    .infoFor {
        width: 600px;
    }
    
    .mainNavLinks > li.noSubNav > a{
        padding:0 !important;
    }
    
    .mainNavLinks > li:hover{
        background-color:transparent;
    }
    
    .mainNavLinks,
    .mainNavLinks > li,
    .mainNavLinks > li.noSubNav:hover,
    footer,
    footer .footerBefore,
    .footerLinks{
        background-color:#002f7c;    
    }
    
    .mainNavLinks,
    footer .footerAfter {
        background-image:url("../img/ribbon_tails_law.png");   
    }
    
    .footerLinks {
        padding: 0;
        text-indent: 10px;
    }
    
    .subFooter{
        width:780px;
    }
    
    .ie7 .subFooter{
        width:855px;
    }
    
    .ie8 .subFooter{
        width:835px;
    }
    
    .subFooter .socialIcons{
        width: auto;   
    }
    
    .subFooter .copyright {
        right: 148px;
    }
    
    .footerLinks .switch{
        display:none;   
    }

}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1085px) {
    
    .subFooter ul {
        margin: 0 10px 0 -10px;
    }     
    
    .mainNavLinks{
        background-color:transparent;
    }
        
    .footerLogo{  
        position: absolute;
        top: 35px; 
        left: 20px;   
        padding:10px 0 0 0;         
    }
        
    .oldie .footerLinks li a{
        font-size:10px;
        margin:0;
    }        
        
    .oldie .footerLinks{
        float:none;   
    }   
    
    .ie7 .subFooter{
        width:795px;
    }
    
    .ie8 .subFooter{
        width:780px;
    }
}