/* ==|== primary styles =====================================================
   ========================================================================== */



.primaryContent .main{
    max-width:745px !important;
    min-height: 230px;
    margin:0 0 50px 30px;
}

.profilePicture{
    border:3px solid white;
    -webkit-box-shadow: 0px 0px 7px #434343;
    -moz-box-shadow: 0px 0px 7px #434343;
    box-shadow: 0px 0px 7px #434343;
    margin:10px 0 10px 0;
    overflow:hidden;
    width: 95px;
    height:100px;
    clear:both;
    position:relative;
}

.profilePicture.noPhoto {
    height: 75px;
    width: 65px;
}

.profilePicture img{
    position:absolute;
    top:-5px;
    left:-5px;   
}

.rightColumn .callout{
    width: 175px;
    margin-left:30px;
    padding: 10px 10px 10px 10px;
    -moz-box-shadow: inset 8px 8px 8px -8px #999279;
    -webkit-box-shadow: inset 8px 8px 8px -8px #999279;
    box-shadow: inset 8px 8px 8px -8px #999279;
}

.profile{
    font-size:14px;
}

.profile .jobTitle{
    font-weight:normal;
    font-size:14px;
    font-family:"Open Sans";
    margin:0 0 0 20px;
}

.profile div[itemprop="affiliation"]{
    font-family:"Open Sans";
    font-size:16px;   
    max-width:600px;
}

.profile div[itemprop="affiliation"]:first-child{
    margin: 15px 0 0 0;
}

.profile .honors{
    font-size:15px;
    margin:10px 0 0 0;
}

.profile dl{
    margin:10px 0 10px 0;  
}

.profile .noFloat{
    margin:35px 0 10px 0;   
    max-width:600px;
}


.profile dt{
    font-weight:bold;
    float:left;
    clear:left;
    margin:0 5px 0 0;
}

.profile dd{
    padding:0;
    margin:0;
    float:left;
}

.noFloat dt, .noFloat dd{
    float:none;   
}

.websites dd{
    text-decoration:underline;
    margin:0 10px 0 0; 
}

.social{
    margin:10px 0 0 0;
}

.large_photo .profilePicture{
    height:auto;
    width:auto;
    max-width:188px;    
}

.large_photo .noFloat{
    max-width:500px;   
}

.large_photo .profilePicture img{
    position:static;    
}

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 780px) {   
    .profilePicture{
        float:none;
        position:absolute;
        top:70px;
        right:30px;    
    }
    
    .rightColumn .callout{
        margin-left:0;    
    }
}

@media only screen and (min-width: 1024px) {
    

}

@media only screen and (min-width: 1085px) {
    
}