h1.titulo Pinterest's Layout
.rejilla
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/564x/a2/aa/f9/a2aaf9378fe3e835936eaf6942e147f4.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ex.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/564x/dc/a1/9b/dca19bed8449a1aa2a502ae5b674e7f6.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque repellendus neque ullam impedit, aperiam corrupti.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/564x/b1/7a/24/b17a2496d09a1ed6219dc338d2d27622.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut reiciendis earum similique qui voluptatibus, ea eum dolore unde facere.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/564x/62/b6/0a/62b60afda9ee9ba5aa195ffe1d5b1a1f.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis consequatur, doloremque. Beatae, quo.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/564x/b3/0f/b2/b30fb22f35c5b7e597c3f1e68ef8d81c.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, hic.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/564x/e7/84/d4/e784d400e52fc17e25f4eb0a70fa2d9a.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum doloribus, cum dolorem tempore fuga. Impedit expedita vel iusto, praesentium in repellat provident.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/564x/16/e7/fd/16e7fd11f07329e202a3151d3ee20cab.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ex.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/564x/65/35/c6/6535c615fcb6a5b3a0a73e44712e7401.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque repellendus neque ullam impedit, aperiam corrupti.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/72/43/7e/72437ed6fdff84d33e15c3d6c8226c4a.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut reiciendis earum similique qui voluptatibus, ea eum dolore unde facere.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/564x/fd/04/32/fd0432431ac831ddba82de76d4e34aef.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis consequatur, doloremque. Beatae, quo.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/d6/fa/f7/d6faf74f3224fdc0716e7cef178a3a6f.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, hic.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/564x/a9/fe/fa/a9fefa4cf84ecd3cbafe4edba269f60f.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum doloribus, cum dolorem tempore fuga. Impedit expedita vel iusto, praesentium in repellat provident.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/564x/12/77/67/127767e91282f0e00718463fa7789d03.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque repellendus neque ullam impedit, aperiam corrupti.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/564x/b8/63/e4/b863e41a5365205a118e5cc27724c21e.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut reiciendis earum similique qui voluptatibus, ea eum dolore unde facere.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/b8/26/0a/b8260acd1046e719fdfcd9548dc1dcfa.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis consequatur, doloremque. Beatae, quo.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/54/c8/b4/54c8b4b2e29b112aadac1527add58d80.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, hic.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/bb/49/50/bb495042adf85f02405d31304da631f0.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum doloribus, cum dolorem tempore fuga. Impedit expedita vel iusto, praesentium in repellat provident.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/14/f7/94/14f7949aa2d2d450e832cd6dbdce4ec5.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque repellendus neque ullam impedit, aperiam corrupti.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/13/1e/28/131e28185015ce840b112852ea364269.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut reiciendis earum similique qui voluptatibus, ea eum dolore unde facere.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/90/79/84/907984cbf48b78e8d775011269387707.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis consequatur, doloremque. Beatae, quo.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/84/d0/5a/84d05ab38c72280f85f038e1cba7c6c9.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, hic.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/bf/a8/6e/bfa86edc5a79be383ca8119a9bae7065.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum doloribus, cum dolorem tempore fuga. Impedit expedita vel iusto, praesentium in repellat provident.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/3d/0d/20/3d0d20dbc489b328528435a68ec19db3.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque repellendus neque ullam impedit, aperiam corrupti.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/75/88/77/758877f605cf1032217ef0a1efcd1ddc.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut reiciendis earum similique qui voluptatibus, ea eum dolore unde facere.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/09/aa/a6/09aaa671967e73b81cd83252a9555f83.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis consequatur, doloremque. Beatae, quo.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/b9/18/52/b9185260c897144650bd548f331b0277.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, hic.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/ee/ef/33/eeef336e056ef9ca645df0eec61f0474.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum doloribus, cum dolorem tempore fuga. Impedit expedita vel iusto, praesentium in repellat provident.
  .caja
    img(src="https://s-media-cache-ak0.pinimg.com/236x/51/7c/bd/517cbd6583ff7f1809517e5870839297.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum doloribus, cum dolorem tempore fuga. Impedit expedita vel iusto, praesentium in repellat provident.